In [1]:
thisset = {"apple", "banana", "cherry",  "apple", True, 1, 2}

print(thisset)

{True, 2, 'cherry', 'apple', 'banana'}

In [2]:
thisset = {"apple", "banana", "cherry"}

print("banana" in thisset)
thisset = {"apple", "banana", "cherry"}

print("banana" not in thisset)

True

In [6]:
thisset = {"apple", "banana", "cherry"}

print("banana" not in thisset)

False

In [ ]:
thisset = {"apple", "banana", "cherry"}
mylist = ["kiwi", "orange"]

thisset.update(mylist)

print(thisset)

In [18]:
#delete
thisset = {"apple", "banana", "cherry"}

thisset.discard("banana")

print(thisset)

{'apple', 'cherry'}

In [17]:
thisset = {"apple", "banana", "cherry"}

x = thisset.pop()

print(x)

print(thisset)

apple
{'banana', 'cherry'}

In [16]:
thisset = {"apple", "banana", "cherry"}

thisset.clear()

print(thisset)

set()

In [ ]:
thisst = {"apple", "banana", "cherry"}

del thisst

print(thisst)
#deleted comepletely

NameError: name 'thisst' is not defined

In [21]:
thisset = {"apple", "banana", "cherry"}

for x in thisset:
  print(x)

apple
banana
cherry

In [27]:
set1 = {"a", "b", "c"}
set2 = {1, 2, 3}

set3 = set1.union(set2)
print(set3)
set1 = {"a", "b", "c"}
set2 = {1, 2, 3}

set3 = set1 | set2
print(set3)



set1 = {"a", "b", "c"}
set2 = {1, 2, 3}
set3 = {"John", "Elena"}
set4 = {"apple", "bananas", "cherry"}

myset = set1.union(set2, set3, set4)
print(myset)



set1 = {"a", "b", "c"}
set2 = {1, 2, 3}
set3 = {"John", "Elena"}
set4 = {"apple", "bananas", "cherry"}

myset = set1 | set2 | set3 |set4
print(myset)



set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set3 = set1 & set2  #or use ^
print(set3)



set1 = {"apple", 1,  "banana", 0, "cherry"}
set2 = {False, "google", 1, "apple", 2, True}

set3 = set1.intersection(set2)

print(set3)



set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set3 = set1.difference(set2)

print(set3)

set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set1.symmetric_difference_update(set2)

print(set1)

{'a', 'b', 'c', 1, 2, 3}
{'a', 'b', 'c', 1, 2, 3}
{'c', 1, 2, 3, 'cherry', 'Elena', 'John', 'a', 'b', 'bananas', 'apple'}
{'c', 1, 2, 3, 'cherry', 'Elena', 'John', 'a', 'b', 'bananas', 'apple'}
{'apple'}
{False, 1, 'apple'}
{'banana', 'cherry'}
{'cherry', 'microsoft', 'google', 'banana'}