In [ ]:
#tupe is unchangeable and ()
thistuple = tuple(("apple", "banana", "cherry")) # note the double round-brackets
print(thistuple)

In [1]:
#This example returns the items from index -4 (included) to index -1 (excluded)

thistuple = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
print(thistuple[-4:-1])

('orange', 'kiwi', 'melon')

In [2]:
thistuple = ("apple", "banana", "cherry")
if "apple" in thistuple:
  print("Yes, 'apple' is in the fruits tuple")

Yes, 'apple' is in the fruits tuple

In [5]:
itstuple = ("app", "aks", "askdjok")
ir = ("alkkd",)
itstuple += ir
print(itstuple)

('app', 'aks', 'askdjok', 'alkkd')

In [1]:
fruits = ("apple", "banana", "cherry", "strawberry", "raspberry")

(green, yellow, *red) = fruits

print(green)
print(yellow)
print(red)

apple
banana
['cherry', 'strawberry', 'raspberry']

In [3]:
fruits = ("baka", "catoon", "kisame", "arctic")
(green, *aldous, asta) = fruits
print(green)
print(aldous)
print(asta)

baka
['catoon', 'kisame']
arctic

In [4]:
thistuple = ("apple", "banana", "cherry")
for x in thistuple:
  print(x)

thistuple = ("apple", "banana", "cherry")
for i in range(len(thistuple)):
  print(thistuple[i])

thistuple = ("apple", "banana", "cherry")
i = 0
while i < len(thistuple):
  print(thistuple[i])
  i = i + 1

apple
banana
cherry
apple
banana
cherry
apple
banana
cherry

In [6]:
fruits = ("apple", "banana", "cherry")
mytuple = fruits * 20

print(mytuple)

#count()	Returns the number of times a specified value occurs in a tuple
#index()	Searches the tuple for a specified value and returns the position of where it was found

('apple', 'banana', 'cherry', 'apple', 'banana', 'cherry', 'apple', 'banana', 'cherry', 'apple', 'banana', 'cherry', 'apple', 'banana', 'cherry', 'apple', 'banana', 'cherry', 'apple', 'banana', 'cherry', 'apple', 'banana', 'cherry', 'apple', 'banana', 'cherry', 'apple', 'banana', 'cherry', 'apple', 'banana', 'cherry', 'apple', 'banana', 'cherry', 'apple', 'banana', 'cherry', 'apple', 'banana', 'cherry', 'apple', 'banana', 'cherry', 'apple', 'banana', 'cherry', 'apple', 'banana', 'cherry', 'apple', 'banana', 'cherry', 'apple', 'banana', 'cherry', 'apple', 'banana', 'cherry')

In [11]:
thisset = {"apple", "banana", "cherry",  "apple", True, 1, 2}

print(thisset)

{True, 'banana', 2, 'cherry', 'apple'}

In [12]:
thisset = {"apple", "banana", "cherry", False, True, 0}

print(thisset)

{False, True, 'banana', 'cherry', 'apple'}